body{
  padding-top: 70px;
  background: #e9eaec;
}

.container{
  /*margin-bottom: 20px;*/
  margin-bottom: 2%;
}

.contact-section{
  background: #fff;
}

.contact-first-row{
  padding-bottom: 10px;
}
